body {
    background-image: url("/assets/bg-img.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.focus-body {
    margin-top: 100px;
    font-size: 20px;
}
.focus-body h1 {
    font-size: 56px;
}
.focus-body span {
    font-weight: 900;
    font-size: 30px;
}
.focus-body button {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 20px;
    font-size : 20px;
    padding: 10px 30px;;
}
.focus-body button:hover {
    background-color: rgba(255, 255, 255, 0.237);
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.237);

}

.focus-body input {
    margin : 20px;
}
.icon-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size : 40px;
}

audio {
    display: none;
}